name: PR Check

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.0

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Run type-check
        run: yarn type-check
        env:
          CI: true

      - name: Run lint
        run: yarn lint
        env:
          CI: true

      - name: Run pre-tests
        run: yarn pre-test
        env:
          CI: true

      - name: Run tests
        run: yarn test
        env:
          CI: true

      - name: Run Build
        run: yarn build
        env:
          CI: true